%html
  %head
    %link(rel="stylesheet" href="css/main.css")
  %body
    .div
      .header-success
        %h1
          = "uploaded Successfully. Processing intiated "
        %h3 
        %a(href="#{@url}")
          download file("#{@url}")
