%html
  %head
    %link(rel="stylesheet" href="css/main.css") 
  %body
    .div
      .header
        %h1 
          = "#{@filename} successfully uploaded."
        %h3 give the name for output file
      .main_form
        %form(method="get" action="/reverse_geo_code_it")
          %input(type="text" name="output_filename") .csv
          %br
          %br
          #button-sub
          %input(type="submit" value="Reverse Geocode it")
